<h1>New recipe step for <%= @recipe_step.recipe.name  %></h1>

<%= render "form", recipe_step: @recipe_step %>

<br>

<div>
  <%= link_to "Back to recipe steps", recipe_recipe_steps_path(@recipe) %>
</div>
