<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>
  <% if current_user.admin %>
    <p>
      <strong>User:</strong>
      <%= User.find_by(id: recipe.user_id).email %>  
    </p>
    <p>
      <strong>Global:</strong>
      <%= recipe.global %>
    </p>
  <% end %>
  <p>
    <strong>Status:</strong>
    <% if recipe.status == "IP" %>
      In Progress
    <% else %>
      Published
    <% end %>
  </p>
</div>
