<li id="<%= dom_id recipe %>" class="<% if recipe.status == "IP" %> <%= recipe.status %>  <% else %> themeColor <% end %> list-group-item list-group-item-action list-group-item-secondary">
    <%= link_to recipe.name, recipe %>
</li>