
<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>
<p>
  <%= link_to "New Recipe", new_recipe_path, data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"} %>
</p>
<ul id="recipes" class="list-group">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</ul>