<li id="<%= dom_id state %>">
  <%= state.name %>
  <% if state.user_id == current_user.id %>
    <div>
      <%= link_to edit_state_path(state), data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"} do %><i class="bi bi-pencil"></i><% end %><%= link_to [state], data: {turbo_method: :delete, turbo_confirm: "Delete state?"} do %><i class="bi bi-trash3"></i><% end %>
    </div>
  <% end %>
</li>