<h1>Recipes...</h1>
<p>I am not a cook, but I do need to eat. When I do want to cook something that is more than just fullfilling my caloric requirements for the day, I don't want to read a bunch of crap while sifting through a page for the actual recipe.</p>
<p>I don't care that your child has a peanut allergy. I really don't. I empathize, but the recipe you put on the internet is what I'm interested in.</p>
<p>I don't care that you first made the recipe when you proposed to your wife.<p>
<p>Here are other tings I don't care about</p>
<ul>
    <li>The memories you have while cooking this</li>
    <li>Pictures of the meal</li>
    <li>That your favorite thing in life is time around the table</li>
    <li>That this is your favorite recipe</li>
    <li>Something that happened a few weeks ago on insta</li>
</ul>
<p>Pretty much, I don't care about anything on the page that doesn't have to do with the actual recipe. So, I decided to make a webpage that would give me a recipe without all of the other <strike>garbage</strike> stuff most recipe pages put on them <strike>to make the page longer so more ads can be displayed</strike>.