<div id="<%= dom_id meal_prep %>">
  
  <p>
    <strong>Start Time:</strong>
    <%= meal_prep.start_time %>
  </p>

  <p>
    <strong>End Time:</strong>
    <%= meal_prep.end_time %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= meal_prep.recipe.name %>
  </p>

</div>
