<div id="<%= dom_id meal_prep %>" class="row">
  <%= meal_prep.recipe.name %>
  <div class="col">
      <%= link_to meal_prep, data: {turbo_method: :delete, turbo_confirm: "Delete meal?"} do %><i class="bi bi-trash3"></i><% end %>
    </div>
</div>
