<h1>Editing meal prep</h1>

<%= render "form", meal_prep: @meal_prep %>

<br>

<div>
  <%= link_to "Show this meal prep", @meal_prep %> |
  <%= link_to "Back to meal preps", meal_preps_path %>
</div>
