<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>
  <% if current_user.admin == "T" %>
    <p>
      <strong>User:</strong>
      <%= unit.user.email + "(" + unit.user_id.to_s + ")" %>
    </p>

    <p>
      <strong>Global:</strong>
      <%= unit.global %>
    </p>
  <% end %>

</div>
