<li id="<%= dom_id unit %>">
  <%= unit.name %>
  <% if unit.user_id == current_user.id %>
    <div>
      <%= link_to edit_unit_path(unit), data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"} do %><i class="bi bi-pencil"></i><% end %><%= link_to [unit], data: {turbo_method: :delete, turbo_confirm: "Delete unit?"} do %><i class="bi bi-trash3"></i><% end %>
    </div>
  <% end %>
</li>