<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>
  <% if current_user.admin %>
    <p>
      <strong>User:</strong>
      <%= unit.user_id %>
    </p>

    <p>
      <strong>Global:</strong>
      <%= unit.global %>
    </p>
  <% end %>

</div>
