<%= turbo_frame_tag :zFormModal do %>
  <div data-controller="z-form-modal" data-action="turbo:submit-end->z-form-modal#submitEnd">
    <div class="modal-header themeColor">
      <h5 class="modal-title" id="staticBackdropLabel">Editing <%= @unit.name %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <%= render "form", unit: @unit %>
  </div>
<% end %>