<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= location.user_id %>
  </p>
  <% if current_user.admin == "T" %>
    <p>
      <strong>Global:</strong>
      <%= location.global %>
    </p>
  <% end %>

</div>
