<li id="<%= dom_id location %>">
  <%= location.name %>
  <% if location.user_id == current_user.id %>
    <div>
      <%= link_to edit_ingredient_path(location), data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"} do %><i class="bi bi-pencil"></i><% end %><%= link_to [location], data: {turbo_method: :delete, turbo_confirm: "Delete ingredient?"} do %><i class="bi bi-trash3"></i><% end %>
    </div>
  <% end %>
</li>


