<%= turbo_frame_tag :zFormModal do %>
  <div data-controller="z-form-modal" data-action="turbo:submit-end->z-form-modal#submitEnd" class="modal-content">
    <div class="modal-header themeColor">
      <h5 class="modal-title" id="staticBackdropLabel">Locations List</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <ul class="ingredient-list">
        <li>
          <%= link_to "add location to location list", new_location_path, data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"}, class: "btn btn-secondary"%>
        </li>
        <% if @locations.each do |location| %>
          <%= render location %>
        <% end.empty? %>
          <li class="noItems">No locations</li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
